@model CSeC.web.Models.Categoria

@{
    ViewData["Title"] = "Categorias - Editar";

}

<h1>@ViewData["Title"]</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Actualizar" method="post">
            <div class="form-group">
                <label asp-for="Descripcion">Descripcion</label>
                <input type="text" asp-for="Descripcion">
            </div>
            <div class="form-group">
                <label asp-for="Estado">Estado</label>
                <select asp-for="Estado">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>
            <input type="submit" value="Guardar">
            <input type="hidden" asp-for="ID">
        </form>
    </div>
</div>